body {
    font-family: Roboto, sans-serif;
    background: #eceff1;
}

#content {
    margin: 36px;
}

.tab {
    text-decoration: none;
    color: white;
}

.profile {
    padding: 16px;
    background-image: url('../assets/profile-background.jpg');
    background-size: cover;
}

.avatar {
    margin: 8px;
    width: 96px;
    height: 96px;
    border-radius: 48px;
    border: 4px solid white;
    box-sizing: border-box;
    background-color: #DDD;
}

.title {
    padding-left: 16px;
}

paper-fab.main {
    position: fixed;
    bottom: 24px;
    right: 24px;
}

paper-fab[mini] {
    position: fixed;
    right: 32px;
}

.dropdown-content {
    color: black;
}

paper-menu a {
    text-decoration: none;
    color: #3367d6;
}

paper-menu-button {
    display: inline;
}

paper-card {
    margin-bottom: 24px;
    width: 100%;
}

div.card-content {
    margin-left: 16px;
    margin-right: 16px;
}

.white {
    color: white;
}

@media (min-width: 992px) {
    #content {
        margin: 96px 128px;
    }

    paper-fab.main {
        bottom: 48px;
        right: 48px;
    }

    #paper-fab[mini] {
        right: 56px;
    }

    paper-card {
        margin-bottom: 48px;
    }
}