<paper-card ng-repeat="item in about" heading="{{item.name}}" flex>
    <div class="card-content" ng-bind="item.content"></div>

    <div class="card-actions">
        <paper-button>Some action</paper-button>
    </div>
</paper-card>

<paper-card heading="School" class="flex">
    <div class="card-content">
        I have been a student at The University of Washington since the Fall of 2014. I'm currently a sophomore on track
        to graduate by 2018, with a double degree in Informatics and Applied Computational Math Sciences. I have a
        particular interest in web and mobile design and development, but intend on building up my skills in other
        technologies to become multidisciplinary and expand my potential career options in the future.
    </div>
    <!-- Math 126 -->
    <paper-item>
        <paper-item-body two-line>
            <div>Math 126 Multivariable Calculus</div>
            <div secondary>Learned about double integrals and taylor series</div>
        </paper-item-body>
    </paper-item>

    <div class="card-actions">
        <paper-button>Some action</paper-button>
    </div>
</paper-card>